.UpcomingConatiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 15px;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.sectionHeading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionHeading h1 {
    font-size: 20px;
    margin-left: 2rem;
}

.sectionHeading a {
    text-decoration: none;
    color: black;
    margin-right: 2rem;
    padding: 10px 15px;
    border-radius: 10px;
}

.sectionHeading a:hover {
    background-color: rgb(230, 221, 221);
}

.containers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 250px;
    box-shadow: -2px 2px 16px 0px rgba(0,0,0,0.75);
    border-radius: 15px;
    padding-bottom: 10px;
    margin: 15px 18px;
}

.container img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.information h2 {
    font-size: 20px;
    font-weight: 500;
    padding: 3px 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information .live {
    font-size: small; 
    padding-top: 2px;
    margin-right: 2px;
}

.information .info {
    font-size: 15px;
    padding: 0 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
}

.information .author {
    font-size: 13px;
    margin-top: 3px;
    margin-left: 10px;
    padding: 0 10px;
    margin-bottom: 20px;
}

.btn {
    border-radius: 10px;
    background-color: rgb(38, 189, 38);
    font-size: 1rem;
    padding: .5rem 1rem;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: 700;
}

.btn:hover {
    background-color: rgb(64, 223, 64);
}

.reminder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.bellIcon {
    margin-top: 2px;
}

/* @media screen and (max-width: 850px) {
    .sectionHeading h1{
        font-size: 15px;
    }
    .sectionHeading a{
        font-size: 12px;
    }
} */